name: Documentation tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-docs:
    name: "Test Documentation"
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'zulu'
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.7.0
      - name: Check Docs
        run: "./gradlew :documentation:check"
