name: Sample Project Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v2.5.0
        with:
          java-version: 11
      - name: "Produce plugin"
        uses: eskatos/gradle-command-action@v1.3.3
        with:
          build-root-directory: sample/gradle-producer-build
          arguments: publishToMavenLocal
      - name: "Consume plugin"
        run: mvn -B -f sample/maven-consumer-build/pom.xml hello:sayhi
