name: Gradle Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: "Produce plugin"
        uses: eskatos/gradle-command-action@v1
        with:
          build-root-directory: sample/gradle-producer-build
          arguments: publishToMavenLocal
      - name: "Consume plugin"
        run: mvn -f sample/maven-consumer-build/pom.xml hello:sayhi
