name: Sample Project Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v2.5.0
        with:
          distribution: 'zulu'
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.4.2
      - name: Produce plugin
        run: "./gradlew :gradle-producer-build:publishToMavenLocal"
      - name: "Consume plugin"
        run: mvn -B -f sample/maven-consumer-build/pom.xml hello:sayhi
